<!DOCTYPE html>
<html>
<head>
    <title>GDrive File Uploader</title>

    <!--bootstrap css-->
    <link rel="stylesheet" href="/lib/bootstrap/bootstrap.min.css">

    <!--font awesome css-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">

    <!--Alertify-->
    <!-- JavaScript -->
    <script src="/lib/alertify/alertify.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="/lib/alertify/alertify.min.css"/>
    <link rel="stylesheet" href="/lib/alertify/default.min.css"/>

    <!--Custom CSS-->
    <style>
        body {
            background-image: url("/images/home_image.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>

<body>
<div>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #cbcbcb">
        <a class="navbar-brand font-weight-bold" href="#">GDrive</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Upload Files </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/read">View Files </a>
                </li>
            </ul>
            <div class="form-inline mt-1">
                <h5 class="font-weight-lighter">Hi, <%= name %></h5>
            </div>
        </div>
    </nav>
    <div class="container mt-4">
        <div class="page-header row">
            <input type="hidden" id="success" value="<%= success %>">
            <div class="col-sm-2 text-left">
                <img class="img-fluid"
                     src="/images/Google-drive.png">
            </div>
            <div class="col-sm-6 text-right">

            </div>
            <div class="col-sm-4 text-right mt-3">
                <div class="row">
                    <div class="col-sm-8">
                        <h3 class="text-secondary">Welcome</h3>
                        <h5><%= name %></h5>
                        <a href="/logout" class="btn btn-primary btn-sm">Logout</a>
                    </div>
                    <div class="col-sm-4 text-right">
                        <img src="<%= photo %>" class="rounded-circle img-fluid" alt=""/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-danger">
                    <span class="fa fa-file"></span> &nbsp; File List
                </h3>
                <div class="card">
                    <div class="card-body">
                        <%- fileArr %>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
        </div>
    </div>
</div>
</body>

<!--Custom JavaScript-->
<script>
    if (document.getElementById('success').value === 'yes') {
        alertify.success('File Deleted Successfully');
    }
</script>
<script src="/lib/jquery.min.js"></script>
<script src="/lib/bootstrap/bootstrap.min.js"></script>
</html>
